<!DOCTYPE html>
<html ng-app="example" ng-strict-di ng-controller="ExampleCtrl">
    <head>
        <title>ng-digits example</title>
        <meta charset="UTF-8">
        
        <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="../dist/ng-digits.js"></script>
        <script type="text/javascript" src="ExampleCtrl.js"></script>

    </head>
    <body >
        float, max 2 decimal digits, 2 decimals precision
        <br/>
        <input type="text" ng-model="testModel" ng-digits="options1" />
        <br/>
        ng-model: {{testModel}} {{type(testModel)}}
        <br/>
        <br/>
        percentage value without decimals
        <br/>
        <input type="text" ng-model="testModel2" ng-digits="options2" />
        <br/>
        ng-model: {{testModel2}} {{type(testModel2)}}
        <br/>
        <br/>
        min 0, max 500, as string
        <br/>
        <input type="text" ng-model="testModel4" ng-digits="options4" />
        <br/>
        ng-model: {{testModel4}} {{type(testModel4)}}
        <br/>
        <br/>
        min 0, max 50000, as string, allow leading zeros, no thousand separator
        <br/>
        <input type="text" ng-model="testModel5" ng-digits="options5" />
        <br/>
        ng-model: {{testModel5}} {{type(testModel5)}}
    </body>
</html>